<div class = 'form'>
   <%= form_for(@post) do |f| %>

      <%= f.hidden_field :prepend, :value => "I wish" %>
      
      <%= f.text_field :entry %>
      
      <%= f.hidden_field :color, :value => "#f3f2f2" %>
      
      <span class='submit'><%= f.submit "Write" %></span>
      
   <% end %>
</div>