<h1>Wish Board</h1>

<div>
   <i class="icon-double-angle-left icon-4x left"></i>
</div>

<span class="prompt"></span>

<%= render :partial => "input" %>

<%= render :partial => 'colors'%>

<div>
   <i class="icon-double-angle-right icon-4x right"></i>
</div> 

<% @posts.each do |post| %>
   <h2>
      <%= post.prepend %> <span style="color: <%= post.color %>;"><%= post.entry %></span>
   </h2>
<% end %>