<%= render :partial => 'errors' %>


<div class = "prompt_container">
   <i class="icon-double-angle-left icon-4x left"></i>

   <span class="prompt"></span>
   
   <i class="icon-double-angle-right icon-4x right"></i>

   <div class = "form"> <%= render :partial => 'input' %></div>

</div>

<div class = "color_container">
   <div class = "color"><%= render :partial => 'colors'%></div>
</div>

<div class="post_container">
   <div class="posts">
      <% @posts.each do |post| %>
         <h2>
            <span class="prepend"><%= post.prepend %></span> <span class= "entry" style="color: <%= post.color %>;"><%= post.entry %></span>
         </h2>
      <% end %>
   </div>
   
</div>